html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2.3vh;
  color: black;
}
#brand {
  margin: 0px;
  height: 35px;
}
.navbar-brand {
  padding: 7px;
}
.navbar {
  margin: 0;
  background-color: rgba(0,0,0,0.8);
}
.navbar li {
  padding-left: 3vh;
}
.navbar a {
  color: white !important;
}
.navbar a:hover {
  color: yellow !important;
}
#hero {
  height: 100vh;
  background: black;
  background: url("Images/hero.jpg") center top no-repeat;
  background-size: cover;
  text-align: center;
}
.boxDown {
  margin-top: 18vw;
  position: relative;
}
ul#superImp {
  color: white;
  list-style: none;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 10vh;
}
a.cta {
  font-size: 3vh;
  border: 2px solid yellow;
  padding: 2vh 5vh;
  color: white;
  font-weight: bold;
}
a.cta:hover {
  border: 2px solid yellow;
  background-color: yellow;
  transition-duration: .6s;
  color: black;
  text-decoration: none;
}
a.cta:active {
  border: 2px solid yellow;
  background-color: yellow;
  color: black;
  text-decoration: none;
}
div.buttonDown {
  margin-top: 17vw;
}
span.glyphicon-menu-down {
  position: absolute;
  margin-left: -12px;
  top: 96vh;
  color: white;
  font-size: 25px;
}
.yellow {
  color: yellow;
}
#steps {
  font-family: 'Oswald', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
#steps > h1 {
  font-size: 10vh;
  padding-bottom: 30px;
}
#steps > h4 {
  font-size: 3vh;
}
.blackCube {
  background-color: black;
  color: white;
}
.stepCount {
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: -30vw;
}
.stepCount > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 10vh;
}
.stepCount > h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 5vh;
  margin-bottom: -3vh;
  margin-left: -15vh;
}
.stepCount > h4 > span {
  padding: 0vh 2.6vh;
  background-color: white;
  border-radius: 100%;
  color: black;
}
#hero2 {
  height: 80vh;
  background: url("Images/12194822_10206334033962132_5576593523011839608_o.jpg") right top no-repeat;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
}
.yellowCube {
  background-color: yellow;
  height: 80vh;
  text-align: center;
}
.yellowCube > .cta {
  border-color: black;
  color: black;
  display: inline-block;
  padding: 1.5vh 2vh;
}
.yellowCube > .cta:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.yellowCube > .cta:active {
  background-color: black;
  color: white;
}
.yellowCube > h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  margin-top: 28vh;
  margin-bottom: 100px;
}
#hero3 {
  height: 80vh;
  background: url("Images/party.jpg") top left no-repeat;
  background-size: cover;
}
#hero3 > a.cta {
  display: inline-block;
  margin-top: 37vh;
}
.extraText > h4 {
  float: right;
  display: inline-block;
  margin-right: 10vw;
  font-size: 3vh;
  font-style: italic;
  margin-top: -15.5vh;
}
#hero4 {
  min-height: 80vh;
  background: url("Images/perform.jpg") center center no-repeat;
  background-size: cover;
}
#hero4 > a.cta {
  display: inline-block;
  margin-top: 37vh;
}
#hero5 {
  min-height: 116vh;
  background: url("Images/theyMakeAUDS.jpg") center top no-repeat;
  background-size: cover;
}
#hero5 > a.cta {
  display: inline-block;
  margin-top: 52vh;
}
#membership h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 5vmin;
  display: block;
}
#right {
  float: right;
  margin-right: -10px;
  padding-top: 20vh;
  padding-bottom: 22vh;
}
#left {
  float: left;
  margin-left: -10px;
  padding-top: 20vh;
  padding-bottom: 22vh;
}
.yellowSide {
  background-color: yellow;
}
#membership .blackCube {
  z-index: -1;
}
#membership .table {
  color: white;
}
#membership table {
  margin-top: 8vh;
  margin-bottom: 6vh;
  font-size: 18px;
}
#membership a {
  display: inline-block;
  margin-bottom: 8vh;
}
#ourSponsors {
  height: 30vw;
}
#ourSponsors > h2.black {
  display: inline-block;
  font-size: 5vw;
  font-weight: bold;
  font-stretch: condensed;
  transform: scale(2,3);
  margin-top: 25.7vw;
  position: relative;
}
.black {
  color: black;
}
#lasIguanas img {
  margin-left: 7vw;
  margin-top: 13vw;
  margin-bottom: 10vw;
  width: 35vw;
}
#bssc {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
#bssc h2 {
  font-size: 8.5vw;
  font-weight: bold;
}
#bssc h6 {
  font-size: 2vw;
  margin-top: -15px;
  margin-left: 2px;
}
footer {
  text-align: center;
}
#navMenu {
  display: inline-block;

}
#navMenu img {
  width: 73px;
  float: left;
  clear: left;
  padding-bottom: 5px;
  padding-right: 10px;
}
#navMenu ul {
  list-style-type: none;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin-top: -5px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#navMenu a {
  color: white;
}
footer > img {
  display: inline-block;
  margin-top: -120px;

}
#audsLogo {
  margin-left: 35px;
  margin-right: 90px;
}
footer.blackCube {
  height: 300px;
  padding-top: 50px;
}
footer h6 {
  color: lightgray;
  margin-top: 40px;
}

/*Home page ends here*/



/*Timetable starts here*/



h1.oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 8vh;
  margin: 5vh;
  margin-top: 12vh;
}

p.color {
  display: inline-block;
  padding: 1vh;
}
div#accordion {
  margin-top: 3vh;
  margin-bottom: 7vh;
}
div.panel-heading {
  background-color: black !important;
  cursor: pointer;
}
h4.panel-title {
  color: white;
  font-size: 2.3vh;
}
div.panel-group {
  float: none;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10vh;
}
div.noClass {
  padding: 5vh;
}
div#timetable {
  background-image: url("Images/ballAll.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  opacity: .6;
  position: fixed;
  left: 0;
  right: 0;
  top: 51px;
  z-index: -1;
}



/*Timetable ends here*/



/*FAQ starts here*/



div#mapContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
div#mapAberdeen {
  height: 100%;
  width: 100%;
  position: absolute;
}
div#aboveMap {
  z-index: 1;
  position: relative;
}
div.FAQ-panel {
  text-align: left;
  margin-bottom: 0 !important;
}
div#gap {
  height: 55vh;
  display: none;
}
li.soon {
  color: gray;
}



/*FAQ ends here*/



/*Tutors&Committee starts here*/


div#theyMakeIt {
  margin-top: 16vh;
  margin-bottom: 10vh;
}
div.card {
  background-color: yellow;
  border: 1px solid black;
  padding: 0;
  position: relative;
}
div.danceFace {
  position: relative;
  z-index: 3;
}
div.dancePose {
  position: absolute;
  z-index: 1;
}
div.dancePose > img {
  opacity: 0.6;
}
div.title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.title > h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 3vh !important;
}
div.title > h4 {
  font-size: 2.5vh !important;
}
div.danceFace:hover, div.danceFace:active {
  opacity: 0;
}
body > .inner {
  display: none;
}
body.pg-loaded > .inner {
  display: block;
}



/* Spinner starts*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*Spinner ends*/
