body {
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
  font-size: 2.3vh;
}
#brand {
    margin: 0px;
    height: 35px;
}
.navbar-brand {
    padding: 7px;
}
.navbar {
    margin: 0;
    background-color: rgba(0,0,0,0.8);
}
.navbar li {
  padding-left: 3vh;
}
.navbar a {
  color: white !important;
}
.navbar a:hover {
  color: yellow !important;
}
#hero {
    height: 100vh;
    background: black;
    background: url("Images/hero.jpg") center top no-repeat;
    background-size: cover;
    text-align: center;
}
.boxDown {
    margin-top: 18vw;
    position: relative;
}
ul#superImp {
    color: white;
    list-style: none;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;
}
a.cta {
    font-size: 3vh;
    border: 1px solid white;
    padding: 1vh 3vh;
}
div.buttonDown {
  margin-top: 17vw;
}
span.glyphicon-menu-down {
  position: absolute;
  margin-left: -12px;
  top: 96vh;
  color: white;
  font-size: 25px;
}
.yellow {
    color: yellow;
}
#steps {
    font-family: 'Oswald', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}
#steps > h1 {
    font-size: 10vh;
    padding-bottom: 30px;
}
#steps > h4 {
    font-size: 3vh;
}
.blackCube {
    background-color: black;
    color: white;
}
.stepCount {
    display: inline-block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: -38vw;
}
.stepCount > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;
}
.stepCount > h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
    margin-bottom: -3vh;
    margin-left: -15vh;
}
.stepCount > h4 > span {
    padding: 0vh 2.6vh;
    background-color: white;
    border-radius: 100%;
    color: black;
}
#hero2 {
    height: 80vh;
    background: url("Images/12194822_10206334033962132_5576593523011839608_o.jpg") right top no-repeat;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}
.yellowCube {
    background-color: yellow;
    height: 80vh;
}
.yellowCube > .cta {
    border-color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
    color: black;
}
.yellowCube > h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
    margin-top: 28vh;
    margin-bottom: 100px;
}
#hero3 {
    height: 80vh;
    background: url("Images/party.jpg") top left no-repeat;
    background-size: cover;
}
#hero3 > a.cta {
    display: inline-block;
    margin-top: 37vh;
}
.extraText > h4 {
    float: right;
    display: inline-block;
    margin-right: 10vw;
    font-size: 3vh;
    font-style: italic;
    margin-top: -15.5vh;
}
#hero4 {
    min-height: 80vh;
    background: url("Images/perform.jpg") center center no-repeat;
    background-size: cover;
}
#hero4 > a.cta {
    display: inline-block;
    margin-top: 37vh;
}
#hero5 {
    min-height: 100vh;
    background: url("Images/11084220_983128281698878_4590858276599177121_o.jpg") center bottom no-repeat;
    background-size: cover;
}
#hero5 > a.cta {
    display: inline-block;
    margin-top: 43vh;
}
#membership h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 5vmin;
  display: block;
}
#right {
  float: right;
  margin-right: -10px;
  padding-top: 18vmax;
  padding-bottom: 20vmax;
}
#left {
  float: left;
  margin-left: -10px;
  padding-top: 18vmax;
  padding-bottom: 20vmax;
}
.yellowSide {
  background-color: yellow;
}
#membership .blackCube {
  z-index: -1;
}
#membership .table {
  color: white;
}
#membership table {
  margin-top: 8vh;
  margin-bottom: 6vh;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#membership a {
  display: inline-block;
  margin-bottom: 8vh;
}
#ourSponsors {
  height: 30vw;
}
#ourSponsors > h2.black {
  display: inline-block;
  font-size: 5vw;
  font-weight: bold;
  font-stretch: condensed;
  transform: scale(2,3);
  margin-top: 25.7vw;
  position: relative;
}
.black {
  color: black;
}
#lasIguanas img {
  margin-left: 7vw;
  margin-top: 13vw;
  margin-bottom: 10vw;
  width: 35vw;
}
#bssc {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
#bssc h2 {
  font-size: 8.5vw;
  font-weight: bold;
}
#bssc h6 {
  font-size: 2vw;
  margin-top: -15px;
  margin-left: 2px;
}
footer {
  text-align: center;
}
#navMenu {
  display: inline-block;

}
#navMenu img {
  width: 73px;
  float: left;
  clear: left;
  padding-bottom: 5px;
  padding-right: 10px;
}
#navMenu ul {
  list-style-type: none;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin-top: -5px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#navMenu a {
  color: white;
}
footer > img {
  display: inline-block;
  margin-top: -120px;

}
#audsLogo {
  margin-left: 35px;
  margin-right: 90px;
}
footer.blackCube {
  height: 300px;
  padding-top: 50px;
}
footer h6 {
  color: lightgray;
  margin-top: 20px;
}

/*Home page ends here*/



/*Timetable starts here*/


h1.oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 8vh;
  margin: 5vh;
}
.color {
  display: inline-block;
  padding: 2px;
}
div#accordion {
  margin-top: 3vh;
  margin-bottom: 7vh;
}
div.panel-heading {
  background-color: black !important;
}
h4.panel-title {
  color: white;
}
div.panel-group {
  float: none;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
p.facebookCta {
  margin-bottom: 9vh;
}
div.noClass {
  padding: 5vh;
}
/*div#timetable {
  background-image: url("Images/11084220_983128281698878_4590858276599177121_o.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: 0;
}
